.dataview.small-text {
    display: none;
}

.markdown-rendered img,
.markdown-preview-view img {
    box-shadow: 0 28px 8px -26px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    margin: 0.25rem;
    max-width: 100%;
    height: auto;
    display: block;
}

.markdown-rendered table img,
.markdown-preview-view table img {
    margin: auto;
    display: block;
}

.external-link {
    background-image: none;
    padding-right: 0px;
}

.edit-button {
    text-decoration: none;
    border: none;
    background-color: transparent;
    border-radius: 2px;
    display: block;
    position: relative;
    float: right;
    font-size: 14px;
}