body {
  --bold-color: var(--color-blue);
  --italic-color: var(--color-pink);
  --caret-color: red;

  --text-selection: rgba(var(--color-cyan-rgb), 0.4) !important;
  
  --heading-spacing: 1.8em;
  
  --p-spacing: 1.5em;

  --list-spacing: 0.2em;
  --list-bullet-size: 6px;

  --divider-color: none;
  --divider-color-hover: none;

  --table-header-weight: var(--font-bold);
  --table-border-color: rgba(var(--color-yellow-rgb), 0.15);
  --table-cell-vertical-alignment: middle;

  --blockquote-border-color: var(--color-yellow);
  --blockquote-border-thickness: 4px;
  --blockquote-font-style: italic;

  --inline-title-color: Beige;
  --inline-title-line-height: 2.6;

  --metadata-background: rgba(var(--color-orange-rgb), 0.08);
  --metadata-border-color: rgba(var(--color-orange-rgb), 0.2);
  --metadata-border-radius: 8px;
  --metadata-border-width: 1px;
  --metadata-property-padding: var(--size-2-2) var(--size-2-3);
  --metadata-label-text-color: var(--color-orange);
  --metadata-label-font-weight: var(--font-medium);
  --metadata-sidebar-label-font-size: 12px;
  --metadata-sidebar-input-font-size: 10px;

  --link-color: rgba(var(--color-red-rgb), 1);
  --link-color-hover: rgba(var(--color-red-rgb), 1);
  --link-decoration-hover: underline;
  --link-external-color: rgba(var(--color-cyan-rgb), 1);
  --link-external-color-hover: rgba(var(--color-cyan-rgb), 1);
  --link-external-decoration-hover: underline;
}

.cm-hashtag,
.tag {
  border-color: rgba(var(--mono-rgb-100), 0.4) !important;
  border-width: 1.5px !important;
}

.cm-hmd-frontmatter.cm-comment {
  color: var(--text-faint);
}

.cm-hmd-frontmatter.cm-meta {
  color: var(---text-muted);
}

.cm-hmd-frontmatter.cm-atom {
  color: deeppink;
}

.footnote-link {
  color: rgba(var(--color-purple-rgb), 0.9);
}

.footnote-link:hover {
  color: rgba(var(--color-purple-rgb), 1);
}

.suggestion-item.is-selected {
  background-color: rgba(var(--mono-rgb-100), 0.2);
}

.cm-active {
  background-color: rgba(var(--mono-rgb-100), 0.1);
}

.cm-quote {
  font-style: italic;
}

.markdown-preview-view :not(pre) > code,
kbd {
  background: rgba(var(--mono-rgb-100), 0.08);
  color: yellow;
  border: 1px solid rgba(var(--mono-rgb-100), 0.2);
  border-radius: 4px;
  padding: 2px 6px;
}

img {
  max-width: 100%;
  max-height: 70vh;
}

/* Hide everything that distracts me */

div[data-path$='.pdf']{
	display: none;
}

.modal.mod-settings .vertical-tab-nav-item-icon {
  display: none;
}

.callout-icon {
  display: none;
}

.external-link {
  background-image: none;
  padding-right: 0px;
}

.workspace-tab-header:is([data-type="all-properties"])
{
	display: none;
}

.metadata-property-icon {
  display: none;
}

.dataview.small-text {
  display: none;
}

.graph-controls {
  display: none;
}

/* Tag pane */

.tag-pane-tag .tree-item-inner {
  cursor: pointer;
}
.tag-pane-tag:hover .tree-item-inner {
  color: var(--text-accent-hover);
}

.tag-pane-tag .tree-item-flair {
  cursor: pointer;
}

.tag-pane-tag:hover .tree-item-flair {
  color: var(--text-accent-hover);
}

/* Show section word count only on hover */

.HyperMD-header .bwc-section-count {
  opacity: 0;
}

.HyperMD-header:hover .bwc-section-count {
  opacity: 1;
}
